.header{
    background-color: #a3b18a;
    height: 70px;
    width: 100%; 
    font-size: 14px; 
    text-align: center;
    
    

}

h2{
  padding-top: 17px;
  color: white;
}

.footer{
  font-size: 20px;
  text-align: center;

}






h3{
  text-transform: uppercase;
  

}



.img1{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  
}

.img2{
    width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 60px;
 
}

.img3{
    width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.img4{
    width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.img5{
    width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer{
    background-color: #a3b18a;
    height: 70px;
    width: 100%;
    
}

.img1Text, .img2Text, .img3Text, .img4Text, .img5Text{
  font-size: 18px;
  

}


.container{
  display: flex;
  flex-direction: column;

}


@media (min-width: 800px) {
  .container{
    flex-direction: row;
  }
  .img1, .img2, .img3, .img4, .img5{
    width: 50%;
    padding-right: 10px;
    
  }
    


  .img1Text, .img2Text, .img3Text, .img4Text, .img5Text{
    padding-top: 100px;
    font-size: 25px;
    
    
  }

  
}





@media (max-width: 800px) {
    .img1Text, .img2Text, .img3Text, .img4Text, .img5Text{
    text-align: center !important;
    font-size: 18px;
    
   
    }

    h3{
      text-transform: capitalize;
    }

    
  



    }


   